<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Bootstrap Workshop</title>
</head>
<body>
    <div id="bw-app">
        <div class="container">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-4 col-lg-4 bw-sidebar">
                    sidebar
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#goods-1" aria-controls="goods-1" role="tab" data-toggle="tab" data-category="goods-1">
                                Goods 1
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#goods-2" aria-controls="goods-2" role="tab" data-toggle="tab" data-category="goods-2">
                                Goods 2
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#goods-3" aria-controls="goods-3" role="tab" data-toggle="tab" data-category="goods-3">
                                Goods 3
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="goods-1">
                            <div class="container-fluid bw-grid">
                                <div class="row"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="goods-2">
                            <div class="container-fluid bw-grid">
                                <div class="row"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="goods-3">
                            <div class="container-fluid bw-grid">
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg bw-sidebar-mobile">
                    sidebar mobile
                </div>
            </div>
        </div>
    </div>
</body>
</html>
