<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Bootstrap Workshop</title>
</head>
<body>
    <div id="bw-app">
        <div class="container">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-4 col-lg-4 bw-sidebar">
                    sidebar
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="container-fluid bw-grid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bw-grid-product">
                                <img class="bw-grid-product-image"
                                     src="http://placehold.it/500x500" />
                                <span class="bw-grid-product-title">
                                    Kitten
                                </span>
                                <span class="bw-grid-product-price">
                                    $100
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bw-grid-product">
                                <img class="bw-grid-product-image"
                                     src="http://placehold.it/500x500" />
                                <span class="bw-grid-product-title">
                                    Kitten
                                </span>
                                <span class="bw-grid-product-price">
                                    $100
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bw-grid-product">
                                <img class="bw-grid-product-image"
                                     src="http://placehold.it/500x500" />
                                <span class="bw-grid-product-title">
                                    Kitten
                                </span>
                                <span class="bw-grid-product-price">
                                    $100
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bw-grid-product">
                                <img class="bw-grid-product-image"
                                     src="http://placehold.it/500x500" />
                                <span class="bw-grid-product-title">
                                    Kitten
                                </span>
                                <span class="bw-grid-product-price">
                                    $100
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bw-grid-product">
                                <img class="bw-grid-product-image"
                                     src="http://placehold.it/500x500" />
                                <span class="bw-grid-product-title">
                                    Kitten
                                </span>
                                <span class="bw-grid-product-price">
                                    $100
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bw-grid-product">
                                <img class="bw-grid-product-image"
                                     src="http://placehold.it/500x500" />
                                <span class="bw-grid-product-title">
                                    Kitten
                                </span>
                                <span class="bw-grid-product-price">
                                    $100
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bw-grid-product">
                                <img class="bw-grid-product-image"
                                     src="http://placehold.it/500x500" />
                                <span class="bw-grid-product-title">
                                    Kitten
                                </span>
                                <span class="bw-grid-product-price">
                                    $100
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg bw-sidebar-mobile">
                    sidebar mobile
                </div>
            </div>
        </div>
    </div>
</body>
</html>
